.board {
  display: grid;
  grid-template-rows: repeat(4, auto);
  background: #222;
  padding: 10px;
  gap: 5px;
}

.board-row {
  display: flex;
  gap: 5px;
}

.room {
  display: inline-block;
  background: #111;
  padding: 5px;
}

.room-row {
  display: flex;
}

.cell {
  width: 15px;
  height: 15px;
  background: #444;
}

.cell.wall {
  background: #222;
}

.cell.path {
  background: #888;
}

.cell.exit {
  background: green;
}

.cell.player {
  background: yellow;
}

.room.active {
  outline: 3px solid red;
}
