.board {
  display: inline-block;
  margin: 2rem;
}

.row {
  display: flex;
}

.tile {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

.tile.discovered {
  background-color: lightgreen;
}

.tile.player {
  background-color: yellow;
}
